footer{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 3%;
    // border-top: 1px solid #E3E2E8 ;
}
.nav{
    transform: translateX(75.9px);
    // margin-left: 5rem;
    a{
        text-decoration: none;
    }
}
