header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #E3E2E8;
}
.nav_right{
    width: 8%;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .bar,.language{
        display: none;
    }
    .logo{
        transform: translateX(0);
    }
    header{
        border-bottom: 0.1px solid #bdbcbc;
    }
}