.listCollection{
    width: 100%;
    padding: 0 5% 0 5%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}
.title{
    width: 20%;
    margin: 2% auto;
    display: flex;
    justify-content: space-around;
    span{
        font-size: 1.2rem;
        font-weight: 700;
        padding: 6px;
        background-color: #E3E2E8;
        border-radius: 7px;
    }
}

@media only screen and (max-width: 599px) {
    .title{
        width: 80%;
        span{
            font-size: 1rem;
        }
    }
    .listCollection{
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1023px){
    .listCollection{
        grid-template-columns: 1fr;
    }
    .title{
        width: 70%;
        span{
            font-size: 1rem;
        }
    }
}
