.container_cart{
    position: relative;
    width: 80%;
    margin: 2% auto 0;
    padding: 2rem;
    h2{
        margin-bottom: 2em;
    }
}

.detail_pro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 2rem 0;
    border-bottom: .5px solid #aba9a9;
    border-top: .5px solid #aba9a9;
    i{
        cursor: pointer;
    }
}
.right,.left{
    width: 20%;
    display: flex;
    align-items: center;
}
.img{
    width: 9rem;
    margin-right: 2rem;
    img{
        width: 95px;
        height: 95px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.center{
    //transform: translateX(-130px);
    span{
        border: 1px solid #aba9a9;
        padding: 3px 5px ;
        margin: 0 10px 0 10px;
    }
}
.right{
    display: flex;
    justify-content: space-between;
}
.total{
    position: absolute;
    bottom: -5rem;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    button{
        background-color:#0a0a23;
        color: #fff;
        border:none; 
        border-radius:10px; 
        padding:15px;
        min-height:30px; 
        min-width: 120px;
        cursor: pointer;
    }
    
}
.done{
    //width: 100%;
    transform: translateX(-45px);
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: #333;
    font-size: 2rem;

}
.empty{
    width: 30%;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button{
        font-weight: 500;
        margin-top: 3rem;
        background-color:#0a0a23;
        color: #fff;
        border:none; 
        border-radius:10px; 
        padding:15px;
        min-height:30px; 
        min-width: 200px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 599px) {
    .detail_pro{
        flex-direction: column;
        position: relative;align-items: normal;
    }
    .left{
        width: 100%;
        // justify-content: space-between;
    }
    .left{
        align-items: normal;
    }
    .right{
        flex-direction: column-reverse;
        width: 30%;
        align-items: flex-start;
        position: absolute;
        bottom: 10px;
        left: 11rem;
    }
    .price_cart{
        margin-bottom: 5px;
    }
    .remove{
        transform: translateX(-130px);
    }
    
    .title{
        display: flex;
        flex-direction: column;
    }
    .total{
        flex-direction: column;
        width: 40%;
        bottom: -6.5rem;
    }
    .container_cart{
        margin-bottom: 5rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px){
    .left{
        width: 60%;
    }
    .right{
        width: 30%;
    }
    .total{
        width: 50%;
    }
    .container_cart{
        margin-bottom: 5rem;
    }
}