.product{
    width:80%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    img{
        width: 100%;
    }
    .about_product{
        display: flex;
        justify-content: space-between;
        span{
            font-weight: 700;
        }
    }
    .des{
        color: rgb(168, 165, 165);
    }
}
// .linkitem{
//     text-decoration: none;
//     color: #333;
// }