.contain_pro{
    position: relative;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    .img_pro{
        width: 30%;
        
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        img{
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
    
    }
    .about_pro{
        width: 60%;
        position: relative;
    }
}
.btn{
   
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    button{
    margin-right: 10px;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    }
}
.showDone{
    width: 20%;
    position: absolute;
    margin: 0 auto;
}
.overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    h1{
      color: #e2dfdf;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}
